{% extends 'base.html' %}

{% block title %}Online-learning{% endblock %}

{% load staticfiles %}

{% block custom_bread %}{% endblock %}

{% block content %}
<div class="banner">
    <div class="wp">
        <div class="fl">
            <div class="imgslide">
                <ul class="imgs">
                    {% for banner in all_banners %}
                    <li>
                            <a href="{{ banner.url }}">
                                <img width="1200" height="478" src="{{ MEDIA_URL }}{{ banner.image }}" />
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="unslider-arrow prev"></div>
            <div class="unslider-arrow next"></div>
        </div>

    </div>
</div>




<section>
    <div class="module">
        <div class="wp">
            <div class="module1 eachmod">
                <div class="module1_1 left">
                    <img width="228" height="614" src="/static/images/new/book.jpg"/>
                    <a class="more" href="{% url 'course:course_list' %}">Learn More</a>
                </div>
{#{{ forloop.counter|add:2 }}#}
                    {% for course in courses %}
                    <div class=".module333 box">
                        <a href="{% url 'course:course_detail' course.id %}">
                            <img class="courseImg" src="{{ MEDIA_URL }}{{ course.image }}"/>
                        </a>
                        <div class="des">
                            <a href="{% url 'course:course_detail' course.id %}">
                                <h2 class="courseName" title="{{ course.name }}">{{ course.name }}</h2>
                            </a>
                            <span class="levelList">Level：<i class="key">{{ course.get_degree_display }}</i></span>
                            <span class="levelList">&nbsp;{{ course.students }}&nbsp;students</span>
                        </div>
                        <div class="bottom">
                            <span class="fl" title="{{ course.course_org.name }}">{{ course.course_org.name }}</span>
                            <span class="star fr">{{ course.fav_nums }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}